/* Layout */
.container {
	min-width: 1670px;
	margin: 10px auto;
}
.container #inside {
	margin: 10px 10px 0px 10px;
	padding-bottom: 10px;
}
#content {
	padding-right: 600px;
	padding-top: 5px;
	min-height: 650px;
	min-width: 1024px;
}
	
#header {
	height: 24px;
	border-bottom: solid 1px #ccc;
}

#right-sidebar {
	width: 575px;
	float: right;
	padding-left: 15px;
	padding-top: 5px;
	min-height: 450px;
	border-left: solid 1px #ccc;
}

#footer {
  margin-top: 5px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}

#title {
  float: left;
  padding-right:5px;
}
#statusspinner {
  padding-top: 3px;
  width: 15px;
  padding-right: 5px;
  float:left;
  font-weight: normal; font-style: normal; line-height: normal; font-family: 'Pictos', sans-serif;
  font-size: 1.4em;
}
.msgbox {
  float: left;
  display: block;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid;
  
}
.pictosspinner {
  padding-top: 15px;
}
#errormsg {
  color: #D8000C;
  background: #FFBABA;
}
#infomsg {
  color: #4F8A10;
  background: #DFF2BF;
}
/* Typography and Color */

html { font-size:100.01%; }
body { line-height: 1.25; font-size: 75%; color: #222; background: #fff; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
h1 { font-size: 14pt; line-height: 1; margin-bottom: 0.5em; display: inline;}
h2 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h3 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h4 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

#footer p {
  font-size: 8pt; line-height: 1; margin-bottom: 0.5em;
  color: #666;
}
#footer a {
  color: #666;  
}

#okayspinner {
  position: relative;
  top: -2px;
  color: green;
}
#errorspinner {
  position: relative;
  top: -1px;
  color: #D8000C;
}

/* PERVERT */

/* histogram */
.histo_bar {
  fill: steelblue;
  stroke: white;
  stroke-width: 2px;
}
.histo_line {
  stroke: black;
  shape-rendering: crispEdges;
}

path.dot {
  fill: white;
  stroke-width: 1.5px;
}
rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.x line, .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.line {
  fill: #fff;
}
#pv_controls {

  width: 100%;
  height: 28px;
  margin-bottom: 5px;
  z-index: 2;
}
#pv_controls_slider_container {
  float: left;
  width: 1000px;
}
#pv_controls_slider {
  margin-top: 6px;
}
#pv_controls_playpause {
  width: 16px;
  text-align: center;
  
  font-weight: normal; font-style: normal; line-height: normal; font-family: 'Pictos', sans-serif;
  font-size: 1.4em;
  float: left;
  border: 1px solid #ccc;
  padding: 5px 5px 2px 5px;
  margin-right: 10px;
  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  z-index: 2;
}
#pv_memmap {
  z-index: -100;
}
#pv_memmap_canvas {
  z-index: -100;
  
}
